.header * {
  // @include border;
}

.header-container {
  width: 100%;
  height: 6.25rem; // 100px

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: 600px) {
    height: 5.75rem; //92px
    flex-wrap: nowrap;
  }

  .header__logo {
    width: 75px;
    height: 30px;
    margin: 0.95rem 0;
    order: 1;
    flex-shrink: 0;

    @media (min-width: 600px) {
      margin: 0;
      display: flex;
      align-items: center;
    }

    @media (min-width: 900px) {
      order: 1;
      width: 90px;
      height: 36px;
    }

    img {
      width: 100%;
    }
  }

  .header__nav {
    margin-left: 2rem;
    display: none;

    .nav-links {
      display: flex;
      min-width: 170px;
    }

    a {
      padding: 0.625rem 0.937rem;
      font-size: 0.875rem;
      font-weight: 700;
    }

    @media (min-width: 900px) {
      display: block;
      order: 2;
    }
  }

  .header__search {
    flex: 1 1 100%;
    order: 3;

    @media (min-width: 600px) {
      order: 2;
      margin-left: 2.5rem;
    }

    @media (min-width: 900px) {
      order: 3;
    }

    .search-box {
      position: relative;
      height: 2.5rem; //40px

      @media (min-width: 900px) {
        height: 3.125rem; //50px
      }

      .search-icon {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1.5rem;
        width: 1rem;
      }

      input {
        background: transparent;
        background-color: $input-placeholder-color;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        padding-left: 3rem;
        border-radius: 50em;
      }
    }
  }

  .header__icons {
    order: 2;

    @media (min-width: 600px) {
      order: 3;
      margin-left: 2rem;
    }

    @media (min-width: 900px) {
      order: 4;
      margin-left: 2.5rem;
    }

    .icon-links {
      display: flex;
    }

    .icon-link {
      width: 36px;
      height: 36px;
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
    }

    .icon-link:nth-child(1) {
      display: none;
    }

    @media (min-width: 300px) {
      .icon-link {
        margin-left: 12px;
      }
    }

    @media (min-width: 1200px) {
      .icon-link:nth-child(1) {
        display: flex;
      }
      .icon-link:last-child {
        display: none;
      }
    }
  }
}
