body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

.wrapper {
  padding: 100px 50px;
  margin: 0 auto;
  max-width: 2100px;
}

@media (min-width: 700px) {
  .wrapper {
    padding: 100px;
  }
}
