/* color variables */
$primary-pink: rgb(254, 193, 204);
$primary-btn-color: rgb(228, 173, 182);
$line-long-color: rgb(226, 156, 168);
$line-short-color: rgb(199, 140, 150);
$content-text-color: rgba(16, 16, 16, 0.556);
$primary-text-color: rgba(0, 0, 0, 0.899);
$qoute-text-color: rgb(109, 109, 111);
$input-text-color: rgba(128, 128, 128, 0.646);
$footer-border-top-color: rgba(199, 199, 199, 0.372);
