.side-menu {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -250px;
  background-color: transparent;
  transition: all 0.4s ease;
  z-index: 1;

  ul {
    padding: 10px 30px;
    list-style-type: none;
    margin-top: 50px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  li a {
    font-size: 1.5rem;
    color: white;
  }
}
