// fonts
$font: "Noto IKEA", "Noto Sans", "Roboto", "Open Sans", sans-serif;

// colors
$black: #111;
$light-black: #484848;
$light-black-border: #e7e7e7;
$white: #fff;
$input-placeholder-color: #f5f5f5;
$primary-bth-color: #f5f5f5;
$primary-bth-light-text-color: #484848;
$btn-hover-bg-color: #dfdfdf;
$btn-focus-color: #333;
$primary-btn-outline-color: #dfdfdf;
